body{
    margin: 0;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.header {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    z-index:10;
    display: flex;
    flex-direction: column;
    background-size: auto 100%;
    background-repeat: no-repeat;
    color: #fff;
}

.square{
    display: block;
    width: 100%;
    top: 0;
    left:0;
    position: absolute;
    margin: 0px auto -100px auto;
}

.header_bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 2% 5% auto 5%;
    align-items: center;
}

.header_bar_text{
    width: 30%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.text_for_top_header_bar{
    position: absolute;
    height: 100%;
    text-align: left;
    width: 100%;
}

.cnews_logo{
    margin: auto 10% auto auto;
}

.hero{
    position: relative;
    padding-top: 120px;
}

.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80%;
    background-color: #0575d5;
}

.hero_container {
    
    display: flex;
    align-items: flex-start;
}

.hero_content{
    position: relative;
}

.elephant{
    position: relative;
    left:80px
}