a.text:active,a.text:hover, a.text {
  text-decoration: none;
  color: #fff;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #f1f1f1;
    position: relative;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index:10;
    display: flex;
    flex-direction: column;
    color: #fff;
    justify-content: center;
}

.square_div{
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    margin-left: 50%;
    transform: translateX(-50%);
}

.square{
    max-width: 1700px;
}

.header_bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
    margin-left: 33%;
    margin-right: 34%;
}

.header_bar_text{
    width: 30%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.text_for_top_header_bar{
    position: absolute;
    height: 100%;
    text-align: left;
    width: 100%;
}

.hero{
    color: #fff;
    position: relative;
    padding-top: 120px;
}

.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80%;
    background-image: linear-gradient(to right, #0575d5, #021b79);
    z-index: -5;
}

.hero_container {
    margin-top: 1%;
    display: flex;
    align-items: flex-start;
}

.hero_content{
    margin-left: 100px;
    position: relative;
    z-index: 20;
}

.elephant{
    position: relative;
    left:80px;
    z-index: 5;
}

.first_section{
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    border-radius: 50px;
    background: #fff;
    padding: 30px 5% 30px 5%;
    max-width: 1200px;
    margin: 0 auto;
}

.article {
    display: flex;
    justify-content: center;
    column-gap: 48px;
}

.article_img{
    border-radius: 10px;
    max-width: 300px;
    object-fit: cover;
}

.second_section{
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    border-radius: 50px;
    background: blue;
    padding: 30px 5% 30px 5%;
    max-width: 1200px;
    margin: 0 auto;
}

.article_two {
    color: #fff;
    display: flex;
    justify-content: center;
    column-gap: 48px;
}