.header {
    position: relative;
    display: flex;
    background-color: #0575d5;
    background-size: auto 100%;
    background-repeat: no-repeat;
    height: 525px;
    color: #fff;
}

.square{
    display: block;
    margin: 0px auto -100px auto;
}

.top_header_bar {
    position: relative;

}

.text_for_top_header_bar{
    position: absolute;
    height: 100%;
    text-align: left;
    width: 100%;
}